.container-stepline ul {
    display: flex;
    gap: 10px;
}

.container-stepline ul li {
    background-color: #9a9a9f66;
    width: 66px;
    height: 7px;
    border-radius: .8rem;
}

.container-stepline ul li.active-stepline {
    background-color: #0e8240;
}