@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --color-title: #000;
  --color-subtitle: #000;
  --color-paragraph: #565656;

  --color-item-menu: #7A7A7A;

  --color-btn: #000;
  --bg-color-btn-filled: #000;
  --bg-color-btn-outlined: #000;

  --color-icons: #000;
  --primary-color: #c98bef;

  --bg-color: #fff;

  /* font sizes Desktop*/
  --font-s-big-title-d: 5.125rem;
  --font-s-text-d: 1.25rem;
  --font-s-buttons-d: 1.5rem;
  --font-s-title-d: 3rem;
  --font-s-subtitle-d: 1.75rem;
  --font-s-footer-d: 1rem;
  --font-s-input-d: 1.5rem;

  /* font sizes Mobile*/
  --font-s-big-title: 2.5rem;
  --font-s-title: 2rem;
  --font-s-text: 0.875rem;
  --font-s-subtitle: 1.25rem;
  --font-s-footer: 1rem;
  --font-s-buttons: 1.125rem;
  --font-s-input: 1rem;

  /* fonts weight */
  --font-w-big-title: 900;
  --font-w-text: 500;
  --font-w-title: 900;
  --font-w-subtitle: 900;
  --font-w-footer: 400;
}

.light {
  --color-title: #000;
  --color-subtitle: #000;
  --color-paragraph: #565656;

  --color-item-menu: #7A7A7A;

  --color-btn: #000;
  --bg-color-btn-filled: #000;
  --bg-color-btn-outlined: #000;

  --color-icons: #000;
  --bg-color: #fff;
  --svg-theme: url(../assets/svg/theme/sun.svg);
}

.dark {
  --color-title: #fff;
  --color-subtitle: #fff;
  --color-paragraph: #fff;

  --color-item-menu: #fff;

  --color-btn: #000;
  --bg-color-btn-filled: #fff;
  --bg-color-btn-outlined: #fff;

  --color-icons: #fff;
  --bg-color: #000;
  --svg-theme: url(../assets/svg/theme/moon.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-outfit), system-ui, -apple-system, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.aphrodite-logo {
  font-family: var(--font-playball), system-ui, -apple-system, sans-serif;
  color: #fff;
  font-size: 2.125rem;
  font-weight: 400;
  animation: identifier1 700ms ease-in-out;
}

.title {
  font-size: clamp(var(--font-s-title), 1.7vw, var(--font-s-title-d));
  font-weight: var(--font-w-title);
}

.subtitle {
  font-size: clamp(var(--font-s-subtitle), 1.7vw, var(--font-s-subtitle-d));
  font-weight: var(--font-w-title);
}

.paragraph {
  font-size: clamp(1rem, 1vw, 1.125rem);
}

@keyframes identifier1 {
  0% {
    opacity: 0;
    scale: 0.6;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (min-width: 768px) {
  .aphrodite-logo {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .aphrodite-logo {
    font-size: 4.5rem;
  }
}