@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --color-title: #000;
  --color-subtitle: #000;
  --color-paragraph: #565656;
  --color-item-menu: #7A7A7A;
  --color-text-side-menu: var(--color-paragraph);
  --color-icons-side-menu: #a1a1aa;
  --color-btn: #000;

  --bg-color-btn-filled: #000;
  --bg-color-btn-outlined: #000;

  --color-icons: #000;
  --primary-color: #c98bef;

  --bg-color: #fff;
  --bg-color-side-menu: var(--bg-color);
  --border-color-side-menu: #f2eeee;
  --bg-color-side-menu-hover: #e6e6e6;

  --height-menu: 64px;

  /* font sizes Desktop*/
  --font-s-big-title-d: 5.125rem;
  --font-s-text-d: 1.25rem;
  --font-s-buttons-d: 1.5rem;
  --font-s-title-d: 3rem;
  --font-s-subtitle-d: 1.75rem;
  --font-s-footer-d: 1rem;
  --font-s-input-d: 1.5rem;

  /* font sizes Mobile*/
  --font-s-big-title: 2.5rem;
  --font-s-title: 1.5rem;
  --font-s-subtitle: 1rem;
  --font-s-text: .8125rem;
  --font-s-text-small: .75rem;
  --font-s-footer: 1rem;
  --font-s-buttons: .8125rem;
  --font-s-input: .75rem;

  /* fonts weight */
  --font-w-big-title: 800;
  --font-w-text: 400;
  --font-w-title: 500;
  --font-w-subtitle: 400;
  --font-w-footer: 500;

  --icon-size-common: 1.75rem;
  --icon-size-small: 1.25rem;

  --side-bar-menu-left: 250px;
  --side-bar-menu-left-negative: -250px;
}

@media screen and (min-width: 768px) {
  :root {
    --icon-size-common: 2.125rem;
    --icon-size-small: 1.75rem;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: background-color .3s ease;
}

body {
  font-family: var(--font-outfit), system-ui, -apple-system, sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


.light {
  --color-title: #000;
  --color-subtitle: #000;
  --color-paragraph: #565656;

  --color-item-menu: #7A7A7A;

  --color-btn: #000;
  --bg-color-btn-filled: #000;
  --bg-color-btn-outlined: #000;

  --color-icons: #1f1d1d;
  --bg-color: #fff;
  --svg-theme: url(../assets/svg/theme/sun.svg);
}

.dark {
  --color-title: #fff;
  --color-subtitle: #fff;
  --color-paragraph: #fff;

  --color-item-menu: #d7d2d2;
  --color-btn: #111010;

  --color-icons: #fff;
  --color-icons-side-menu: #71717a;

  /* bg */
  --bg-color: #161515;
  --bg-color-btn-filled: #fff;
  --bg-color-btn-outlined: #fff;
  --border-color-side-menu: #2f2f2f;
  --bg-color-side-menu-hover: #323232db;

  --svg-theme: url(../assets/svg/theme/moon.svg);
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-darkness-screen {
  background-color: rgba(7, 11, 14, 0.44);
  transition: all 0.3s ease;
}

.aphrodite-logo {
  font-family: var(--font-playball), system-ui, -apple-system, sans-serif;
  color: var(--color-title);
  font-size: 1.5rem;
  font-weight: 400;
}

/* Icons  */
.general-icon-color {
  fill: var(--color-icons);
  width: var(--icon-size-common);
  height: var(--icon-size-common);
}

.general-icon-color path {
  stroke: var(--color-icons);
}

.sidebar-menu-icons-color {
  fill: var(--color-icons-side-menu);
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  min-width: var(--icon-size-small);
}

.sidebar-menu-icons-color path {
  stroke: var(--color-icons-side-menu);
}

/* Styles for text titles, sub, paragraph */

.title {
  font-size: clamp(var(--font-s-title), 1.7vw, var(--font-s-title-d));
  font-weight: var(--font-w-title);
  color: var(--color-title);
}

.subtitle {
  font-size: clamp(var(--font-s-subtitle), 1.7vw, var(--font-s-subtitle-d));
  font-weight: var(--font-w-subtitle);
  color: var(--color-subtitle);
}

.normal-text {
  font-size: clamp(var(--font-s-text), 1.7vw, var(--font-s-text-d));
  font-weight: var(--font-w-text);
  color: var(--color-paragraph);
}

.small-text {
  font-size: clamp(var(--font-s-text-small), 1.7vw, var(--font-s-text-d));
  font-weight: var(--font-w-text);
  color: var(--color-paragraph);
}

.paragraph {
  font-size: clamp(1rem, 1vw, 1.125rem);
}

.item-menu-text {
  color: var(--color-item-menu);
  font-size: clamp(1rem, 1.8vw, var(--font-s-text-d));
}


/* splash */
.aphrodite-logo.splash {
  color: #fff;
  font-size: 2.125rem;
  animation: identifier1 700ms ease-in-out;
}

@keyframes identifier1 {
  0% {
    opacity: 0;
    scale: 0.6;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (min-width: 768px) {
  .aphrodite-logo.splash {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .aphrodite-logo.splash {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .main-small-shrink {
    margin-left: 80px;
  }

}