@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --color-title: #000;
  --color-subtitle: #000;
  --color-paragraph: #565656;

  --color-item-menu: #7A7A7A;

  --color-btn: #000;
  --bg-color-btn-filled: #000;
  --bg-color-btn-outlined: #000;

  --color-icons: #000;
  --primary-color: #c98bef;
}

[data-theme="light"] {
  --color-title: #000;
  --color-subtitle: #000;
  --color-paragraph: #565656;

  --color-item-menu: #7A7A7A;

  --color-btn: #000;
  --bg-color-btn-filled: #000;
  --bg-color-btn-outlined: #000;

  --color-icons: #000;
  --bg-color: #fff;
  --svg-theme: url(../assets/svg/theme/sun.svg);
}

[data-theme="dark"] {
  --color-title: #fff;
  --color-subtitle: #fff;
  --color-paragraph: #fff;

  --color-item-menu: #fff;

  --color-btn: #000;
  --bg-color-btn-filled: #fff;
  --bg-color-btn-outlined: #fff;

  --color-icons: #fff;
  --bg-color: #000;
  --svg-theme: url(../assets/svg/theme/moon.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}